.card {
  cursor: pointer;
  .bkg-card {
    background-color: #6db3f2;
    width: 100px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .bkg-card-2 {
    width: 120px;
    height: 160px;
    background-color: #2c3333;

    position: relative;
    &::before {
      content: "";
      clip-path: polygon(50% 0%, 0 11%, 100% 11%);
      position: absolute;
      top: -10%;
      background: #2c3333;
      width: 120px;
      height: 150px;
    }
    &::after {
      content: "";
      clip-path: polygon(50% 100%, 0 85%, 100% 85%);
      position: absolute;
      bottom: -10%;

      background: #2c3333;
      width: 120px;
      height: 110px;
    }
    .main-card {
      padding: 10px;
      .nation {
        position: absolute;
        top: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .height,
        .weight {
          color: #fff;
          font-size: 10px;
          margin-bottom: 0;
          padding-left: 4px;
        }
        .position-card {
          font-size: 14px;
          color: #fff;
          margin: 0;
          padding-bottom: 4px;
        }
        .nation-img {
          width: 24px;
        }
      }
      .card-avatar {
        width: 100%;
        height: auto;
        margin-top: 16px;
        padding: 6px;
        // padding-left: 10px;
      }
      .tag-team {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .logo-team {
          width: 20px;
          height: 20px;
          object-fit: cover;
        }
        .card-name,
        .card-name-length {
          text-align: center;
          color: #fff;
          font-size: 12px;
          margin-bottom: 0;
          word-wrap: break-word;
        }
        .card-name-length {
          font-size: 8px;
        }
      }
    }
  }
}
.card {
  .main-card-default {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .icon-plus {
      cursor: pointer;
      font-size: 30px;
      color: #fff;
      font-weight: 500;
      padding: 2px 16px;
      background-color: #444;
      border-radius: 50%;
      margin-bottom: 0;
    }
  }
}
